html {
  font: normal 12px/1.5rem "Droid Sans", sans-serif;
}

body {
  background: #f0f1f2;
  color: #000;
  padding-bottom: 250px;
}

a {
  text-decoration: none;
}

.test-bar {
  background: #283442;
  padding: 1rem;
  color: #fff;
  width: 100%;
}
.test-bar .viewport {
  float: right;
  padding-top: 8px;
  margin-right: 1rem;
}
.test-bar .bar-right {
  display: none;
}
.test-bar .bar-left {
  text-align: center;
}

.test-logo {
  background: url("http://titon.io/img/logo.png") 50% 0 no-repeat;
  background-size: 184px 80px;
  height: 40px;
  text-indent: -9999px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.test-demo {
  padding: 2rem;
  text-align: center;
}
.test-demo:first-child {
  padding-top: 4rem;
}
.test-demo:nth-child(even) {
  background: #344a5f;
  color: #fff;
}
.test-demo:nth-child(even) .test-header,
.test-demo:nth-child(even) .test-note {
  color: #cfd4d9;
}
.test-demo > p:first-child {
  margin-top: 0;
}

.test-header {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #344a5f;
}

.test-note {
  margin: 2rem 0 0 0;
  color: #344a5f;
}

form,
.accordion,
.mask-target,
.pin-container,
.switch,
.table,
.tabs,
.stalker {
  text-align: left;
}

textarea {
  max-width: 100%;
}

.vertical-container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  background: #fff;
}
.vertical-container .vertical-center {
  background: #2980B9;
  color: #fff;
  padding: 5px;
}

.touch-note {
  color: #C0392B;
  text-align: center;
  margin-top: 0;
  padding: 1rem;
}
.no-touch .touch-note {
  display: none;
}

#carousel-1 {
  max-width: 400px;
}

#carousel-2, #carousel-4, #carousel-5 {
  max-width: 800px;
}

#carousel-3, #carousel-6 {
  max-width: 500px;
}

.test-grid .col {
  color: #000;
  background: #fbfbfb;
  border: 1px solid #e5e5e5;
  padding: 1rem;
}

[class*="icon-16"] {
  background: url("../img/icons-16@2x.png") no-repeat;
  background-size: 80px 16px;
}

.icon-16-home {
  background-position: 0 0;
}

.icon-16-view {
  background-position: -16px 0;
}

.icon-16-edit {
  background-position: -32px 0;
}

.icon-16-user {
  background-position: -48px 0;
}

.icon-16-comment {
  background-position: -64px 0;
}

.lazy-overflow {
  height: 350px;
  overflow: auto;
}

.lazy-item {
  display: block;
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  margin: 0 auto;
}
.lazy-item img {
  width: 200px;
  height: 200px;
}

.pin-container {
  position: relative;
}
.pin-container .col p:first-child {
  margin-top: 0;
}

#pin-3 {
  top: 50px;
}

#pin-4 {
  height: 350px;
}

.stalker-overflow {
  height: 250px;
  overflow: auto;
  position: relative;
}

.stalker .button-group {
  width: 100%;
}
.stalker .button-group > li,
.stalker .button-group > .button {
  border-left: 0;
}

#stalker-overflow-markers h6,
#stalker-markers h6 {
  margin: 2rem 0 1rem 0;
}
#stalker-overflow-markers div:first-child h6,
#stalker-markers div:first-child h6 {
  margin-top: 0;
}

#stalker-targets {
  position: fixed;
  top: 7rem;
  right: 2rem;
  text-align: right;
}

@media only screen and (min-width: 641px) {
  html {
    font-size: 13px;
  }

  .test-bar .bar-left {
    float: left;
    margin-top: 0;
  }

  .test-bar .bar-right {
    float: right;
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }

  .test-bar {
    height: 67px;
  }

  .test-logo {
    width: 184px;
    position: absolute;
    top: 1.2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .test-demo {
    padding: 3rem 4rem 3rem 4rem;
  }
}
