html {
  font: normal 12px/1.5rem "Droid Sans", sans-serif; }

body {
  background: #f0f1f2;
  color: #000;
  padding-bottom: 200px; }

a {
  text-decoration: none; }

.test-bar {
  background: #283442;
  padding: 1rem;
  color: #fff;
  width: 100%; }
  .test-bar .viewport {
    float: right;
    padding-top: 8px; }
  .test-bar .bar-right {
    display: none; }
    .test-bar .bar-right .button {
      float: right;
      margin-left: .5rem; }
  .test-bar .bar-left {
    text-align: center; }
  .test-bar .button {
    border-radius: .2rem; }
  .test-bar .bar-left::after,
  .test-bar .bar-right::after {
    clear: both;
    content: ""; }

.test-logo {
  background: url("http://titon.io/img/logo.png") 50% 0 no-repeat;
  background-size: 184px 80px;
  width: 184px;
  height: 40px;
  margin: 0 auto 1rem auto;
  position: relative; }
  .test-logo span {
    visibility: hidden; }
  .test-logo::after {
    content: attr(data-version);
    display: inline-block;
    position: absolute;
    left: 105%;
    top: 50%;
    color: #dd6195;
    font-size: 1.5rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    white-space: nowrap; }

.test-demo {
  padding: 2rem; }
  .test-demo:nth-child(even) {
    background: #344a5f;
    color: #fff; }
    .test-demo:nth-child(even) .test-header,
    .test-demo:nth-child(even) .test-note {
      color: #cfd4d9; }
  .test-demo > p:first-child {
    margin-top: 0; }

.test-header {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #344a5f; }

.test-body {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center; }
  .test-body.full {
    position: static !important;
    display: block !important;
    left: 0 !important;
    right: 0 !important;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    text-align: left; }
  .test-body.align-center {
    text-align: center !important; }

.test-footer {
  padding: 2rem;
  text-align: center; }

.test-note {
  margin: 1.5rem 0;
  color: #344a5f;
  text-align: center; }
  .test-note:last-child {
    margin-bottom: 0; }

textarea {
  width: 100%;
  max-width: 100%; }

.switcher {
  border: 0; }

.show-touch {
  display: none; }

.touch .show-touch {
  display: block; }

.body > .notice {
  margin: 0;
  color: #fff;
  text-align: center; }

.test-fluid {
  max-width: 800px;
  margin: auto; }

.test-vertical {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  background: #fff; }
  .test-vertical .vertical-center {
    background: #2980B9;
    color: #fff;
    padding: 5px; }

#carousel-1 {
  max-width: 400px; }

#carousel-2, #carousel-4, #carousel-5 {
  max-width: 800px; }

#carousel-3, #carousel-6 {
  max-width: 500px; }

#carousel-5 .carousel-items > ul > li {
  width: calc(25% - 20px); }
  #carousel-5 .carousel-items > ul > li:not(:last-child) {
    margin-right: 20px; }

#carousel-6 .carousel-items > ul > li {
  height: 250px; }
  #carousel-6 .carousel-items > ul > li:nth-child(5) {
    height: 500px; }

.test-grid .col,
.test-region .block,
.test-box {
  color: #000;
  background: #fbfbfb;
  border: 1px solid #e5e5e5;
  padding: 1rem;
  text-align: center; }

.test-grid .col {
  padding: 1rem 0; }

.test-region-alignment .block {
  -webkit-flex: 0 0 15%;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%; }

.test-region-wrap .block {
  -webkit-flex-basis: 23%;
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%; }

.test-region-grid .block {
  -webkit-flex-basis: 200px;
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px; }

.test-region-vertical,
.test-region-vertical .region {
  height: 400px; }

@media only screen and (min-width: 641px) {
  .concept-1 section {
    height: 500px; } }

@media only screen and (max-width: 640px) {
  .concept-1 .region {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

[class*="icon-16"] {
  background: url("../img/icons-16@2x.png") no-repeat;
  background-size: 80px 16px; }

.icon-16-home {
  background-position: 0 0; }

.icon-16-view {
  background-position: -16px 0; }

.icon-16-edit {
  background-position: -32px 0; }

.icon-16-user {
  background-position: -48px 0; }

.icon-16-comment {
  background-position: -64px 0; }

.lazy-overflow {
  height: 350px;
  overflow: auto; }

.lazy-item {
  display: block;
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
  margin: 0 auto; }
  .lazy-item img {
    width: 150px;
    height: 150px; }

.pin-container {
  position: relative; }
  .pin-container .col p:first-child {
    margin-top: 0; }

#pin-3 {
  top: 50px; }

#pin-4 {
  height: 350px; }

.stalker-overflow {
  height: 250px;
  overflow: auto;
  position: relative; }

.stalker .button {
  margin: 0; }

.stalker .button-group {
  width: 100%; }
  .stalker .button-group > li,
  .stalker .button-group > .button {
    border-left: 0; }

#stalker-overflow-markers h6,
#stalker-markers h6 {
  margin: 2rem 0 1rem 0; }

#stalker-overflow-markers div:first-child h6,
#stalker-markers div:first-child h6 {
  margin-top: 0; }

#stalker-targets {
  position: fixed;
  top: 50%;
  right: 2rem;
  text-align: right;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px; }
  #stalker-targets .button-group {
    margin: 0 !important;
    display: block; }

@media only screen and (min-width: 641px) {
  html {
    font-size: 13px; }
  .test-bar .bar-left {
    float: left;
    margin-top: 0; }
    .test-bar .bar-left .button,
    .test-bar .bar-left .input {
      float: left;
      margin-right: .5rem; }
  .test-bar .bar-right {
    float: right;
    display: block; } }

@media only screen and (min-width: 1024px) {
  html {
    font-size: 14px; }
  .test-bar {
    height: 67px; }
  .test-logo {
    position: absolute;
    top: 1.2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0; }
  .test-demo {
    padding: 3rem 4rem 3rem 4rem; } }

html[dir="rtl"] .test-body {
  left: auto;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%); }

html[dir="rtl"] .switcher {
  background-position: left 0.75rem top 50%; }

html[dir="rtl"] #stalker-targets {
  right: auto;
  left: 2rem;
  text-align: left; }
