.accordion {
  color: #000;
}
.accordion li {
  margin-bottom: 1px;
}

.accordion-header {
  background: #2980b9;
  color: #ecf0f1;
}
.accordion-header:hover, .is-active .accordion-header {
  background: #3498db;
}

.accordion-section {
  background: #ecf0f1;
}

.accordion-body ul {
  margin-top: 1.25rem;
}
.accordion-body ul:first-child, .accordion-body p:first-child {
  margin-top: 0;
}

.blackout .loader.bar-wave > span {
  background: #1abc9c;
}

.breadcrumb {
  background: #ecf0f1;
}
.breadcrumb a {
  color: #e74c3c;
}
.breadcrumb a:hover {
  color: #c0392b;
}
.breadcrumb a .caret {
  color: #95a5a6;
}
.breadcrumb li:last-child a {
  color: #95a5a6;
}

.button {
  background: #7f8c8d;
  color: #fff;
}
.button.is-active, .is-active .button {
  color: white;
  background: #8c9899;
}
.button:hover {
  background: #95a5a6;
}
.button.is-info {
  background: #2980b9;
}
.button.is-info:hover {
  background: #3498db;
}
.button.is-success {
  background: #27ae60;
}
.button.is-success:hover {
  background: #2ecc71;
}
.button.is-warning {
  background: #f39c12;
}
.button.is-warning:hover {
  background: #f1c40f;
}
.button.is-error {
  background: #c0392b;
}
.button.is-error:hover {
  background: #e74c3c;
}
.button.is-disabled {
  background: #7f8c8d;
  opacity: .5;
}

.button-group > li,
.button-group > .button {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.button-group > li:first-child,
.button-group > .button:first-child {
  border-left: 0;
}

.carousel-next,
.carousel-prev {
  color: #fff;
  opacity: .5;
}
.carousel-next:hover,
.carousel-prev:hover {
  opacity: 1;
}

.carousel-next,
.carousel-prev {
  display: block;
  position: absolute;
  padding: .75rem;
  width: auto;
  height: auto;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.carousel-next:focus,
.carousel-prev:focus {
  outline: none;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}

.carousel-tabs {
  position: absolute;
  top: .75rem;
  left: 50%;
  z-index: 5;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

pre {
  color: black;
}

.drop {
  background: #16a085;
}
.drop li > a {
  color: white;
}
.drop li > a:hover,
.drop li.is-active > a {
  background: #1abc9c;
}

.drop-heading {
  background: #2c3e50;
  color: #ecf0f1;
  font-weight: bold;
}

.drop-divider {
  border-top-color: #1abc9c;
}

.drop-desc {
  display: block;
}

.flyout {
  background: #d35400;
}
.flyout li > a {
  color: white;
}
.flyout li > a:hover,
.flyout li.is-open > a {
  background: #e67e22;
}

.flyout-heading {
  background: #2c3e50;
  color: #ecf0f1;
  font-weight: bold;
}

.input {
  color: #000;
}
.input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 5px #3498db;
}

.field:not(.is-disabled).is-error .input,
.fields li:not(.is-disabled).is-error .input {
  border-color: #c0392b;
}
.field:not(.is-disabled).is-error .input:focus,
.fields li:not(.is-disabled).is-error .input:focus {
  box-shadow: 0 0 5px #e74c3c;
}
.field:not(.is-disabled).is-error .input-radio,
.field:not(.is-disabled).is-error .input-checkbox,
.fields li:not(.is-disabled).is-error .input-radio,
.fields li:not(.is-disabled).is-error .input-checkbox {
  color: #e74c3c;
}
.field:not(.is-disabled).is-success .input,
.fields li:not(.is-disabled).is-success .input {
  border-color: #27ae60;
}
.field:not(.is-disabled).is-success .input:focus,
.fields li:not(.is-disabled).is-success .input:focus {
  box-shadow: 0 0 5px #2ecc71;
}
.field:not(.is-disabled).is-success .input-radio,
.field:not(.is-disabled).is-success .input-checkbox,
.fields li:not(.is-disabled).is-success .input-radio,
.fields li:not(.is-disabled).is-success .input-checkbox {
  color: #2ecc71;
}

.field-help {
  color: #bdc3c7;
}

fieldset {
  border-top-color: #bdc3c7;
}

.select {
  color: #000;
}

.select-options .drop-desc {
  font-size: .8em;
  opacity: .8;
}
.select-options li.is-disabled {
  background: rgba(0, 0, 0, 0.1);
}

.input-addon {
  background: #16a085;
  border: 1px solid #16a085;
  color: #ecf0f1;
}

.label {
  background: #7f8c8d;
  color: #fff;
}
.label.is-info {
  background: #2980b9;
}
.label.is-success {
  background: #27ae60;
}
.label.is-warning {
  background: #f39c12;
}
.label.is-error {
  background: #c0392b;
}

.label--arrow-left::after {
  border-right-color: #7f8c8d;
}

.label--arrow-right::after {
  border-left-color: #7f8c8d;
}

.label--ribbon-left::after {
  border-right-color: #95a5a6;
}

.label--ribbon-right::after {
  border-left-color: #95a5a6;
}

.is-maskable {
  margin-top: 1rem;
}

.mask .loader.bar-wave > span {
  background: #9b59b6;
}

.matrix {
  margin-top: 1rem;
}

.modal-outer {
  position: relative;
  background: #3498db;
  color: #fff;
}

.modal-head,
.modal-foot {
  background: #2980b9;
}

.modal-body p:first-child {
  margin-top: 0;
}

.modal-foot {
  text-align: center;
}

.modal-close {
  background: none;
  border: 0;
  position: absolute;
  top: .75rem;
  right: .75rem;
  opacity: .5;
}
.modal-close:hover {
  opacity: 1;
}

.notice {
  background: #95a5a6;
}
.notice.is-info {
  background: #3498db;
}
.notice.is-success {
  background: #2ecc71;
}
.notice.is-warning {
  background: #f1c40f;
}
.notice.is-error {
  background: #e74c3c;
}

.off-canvas {
  background: #8e44ad;
  color: #fff;
  padding: 1rem;
}

.on-canvas .test-demo {
  text-align: left;
}
.on-canvas p:first-child {
  margin: 0 0 2rem 0;
}

.pagination {
  text-align: center;
}
.pagination ul {
  display: inline-block;
}

.pagination--grouped li {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.pagination--grouped li:first-child {
  border-left: 0;
}

.pin {
  background: #e74c3c;
  padding: 1rem;
  color: #fff;
}

.popover {
  background: #9b59b6;
  color: #fff;
}
.popover.center-left .popover-arrow {
  border-left-color: #9b59b6;
}
.popover.center-right .popover-arrow {
  border-right-color: #9b59b6;
}
.popover.top-center .popover-arrow {
  border-top-color: #9b59b6;
}
.popover.bottom-center .popover-arrow {
  border-bottom-color: #9b59b6;
}

.popover-head {
  padding: .5rem;
  background: #8e44ad;
  font-weight: bold;
}

.popover-body {
  padding: .5rem;
}

.progress {
  background: #bdc3c7;
  color: #fff;
}

.progress-bar {
  background: #95a5a6;
}
.progress-bar.is-info {
  background: #3498db;
}
.progress-bar.is-success {
  background: #2ecc71;
}
.progress-bar.is-warning {
  background: #f1c40f;
}
.progress-bar.is-error {
  background: #e74c3c;
}

.responsive-table {
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
}
.responsive-table td {
  padding: 5px;
  background: #95a5a6;
  color: #fff;
}
.responsive-table td[class*="show-"] {
  background: #2ecc71;
}
.responsive-table td[class*="hide-"] {
  background: #e74c3c;
}

.showcase-next,
.showcase-prev,
.showcase-close {
  color: #fff;
  opacity: .5;
}
.showcase-next:hover,
.showcase-prev:hover,
.showcase-close:hover {
  opacity: 1;
}

.showcase-next,
.showcase-prev {
  display: block;
  position: absolute;
  z-index: 5;
  top: 50%;
  background: #fff;
  padding: 0;
  border: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.showcase-next:focus,
.showcase-prev:focus {
  outline: none;
}

.showcase-prev {
  left: .75rem;
}

.showcase-next {
  right: .75rem;
}

.showcase-tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .75rem;
  text-align: center;
}

.showcase-caption {
  color: #fff;
}

.showcase-inner {
  background: #bdc3c7;
  padding: 5px;
}

.steps ol {
  background: #f39c12;
  color: #000;
}
.steps ol .step,
.steps ol .step::after {
  background: #f39c12;
}
.steps ol .step::after {
  border-right: 1px solid #f1c40f;
  border-bottom: 1px solid #f1c40f;
}
.steps ol a.step {
  color: #000;
}
.steps ol a.step:hover, .steps ol a.step:hover::after {
  background: #f7dc6f;
}
.steps ol li.is-complete .step,
.steps ol li.is-complete .step::after {
  background: #f1c40f;
}
.steps ol li.is-complete .step::after {
  border-right-color: #f39c12;
  border-bottom-color: #f39c12;
}

.switch input:checked + .switch-bar {
  background: #e74c3c;
  border-color: #e74c3c;
}

.switch-bar {
  background: #c0392b;
  border: 2px solid #c0392b;
}

.switch-toggle {
  background: #ecf0f1;
}

.table {
  color: #000;
}
.table.is-sortable thead th > a {
  background: #d35400;
  color: #fff;
}
.table.is-sortable thead th > a:hover {
  background: #e67e22;
}
.table:first-child {
  margin-top: 0;
}

.toast {
  background: #9b59b6;
  color: #fff;
  padding: .5rem;
}
.toast a {
  color: #f1c40f;
}

.tooltip {
  background: #2ecc71;
  color: #fff;
  padding: 0;
}
.tooltip.center-left .tooltip-arrow {
  border-left-color: #2ecc71;
}
.tooltip.center-right .tooltip-arrow {
  border-right-color: #2ecc71;
}
.tooltip.top-center .tooltip-arrow {
  border-top-color: #2ecc71;
}
.tooltip.bottom-center .tooltip-arrow {
  border-bottom-color: #2ecc71;
}

.tooltip-head {
  padding: .5rem;
  background: #27ae60;
  font-weight: bold;
}

.tooltip-body {
  padding: .5rem;
}

.type-ahead {
  background: #c0392b;
}
.type-ahead li > a {
  color: white;
}
.type-ahead li > a:hover,
.type-ahead li.is-active > a {
  background: #e74c3c;
}

.type-ahead-heading {
  background: #2c3e50;
  color: #ecf0f1;
  font-weight: bold;
}

.type-ahead-highlight {
  background: #f1c40f;
}

.type-ahead-shadow {
  width: 172px;
  margin: 0 auto;
  text-align: left;
}
