@import "common";

html {
    font: normal 12px/1.5rem "Droid Sans", sans-serif;
}

body {
    background: theme-setting("bg-lightest");
    color: theme-setting("fg-dark");
    margin: 0;
    padding: 0 0 200px 0;
}

a {
    text-decoration: none;
}

//-------------------- Header --------------------//

.test-head {
    background: theme-setting("bg-darkest");
    padding: 1rem;
    color: #fff;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.test-head-left {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.test-head-center {
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;

    .button,
    .input {
        border: 0;
    }

    .caret-left {
        margin-right: .5rem;
    }

    .caret-right {
        margin-left: .5rem;
    }
}

.test-head-right {
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 25%;

    .button {
        margin-left: .5rem;
    }
}

.test-head-logo {
    background: url('http://titon.io/img/logo.png') 50% 0 no-repeat;
    background-size: 184px 80px;
    width: 184px;
    height: 40px;
    position: relative;
    margin: auto;

    span {
        visibility: hidden;
    }

    &::after {
        content: attr(data-version);
        display: inline-block;
        position: absolute;
        left: 105%;
        top: 50%;
        color: theme-setting("success");
        font-size: 1.5rem;
        transform: translateY(-50%);
        white-space: nowrap;
    }
}

.test-head-prev {
    border-top-left-radius: theme-setting("round-radius");
    border-bottom-left-radius: theme-setting("round-radius");
}

.test-head-next {
    border-top-right-radius: theme-setting("round-radius");
    border-bottom-right-radius: theme-setting("round-radius");
}

//-------------------- Footer --------------------//

.test-footer {
    padding: 2rem;
    text-align: center;
}

//-------------------- Body --------------------//

.test-demo {
    padding: 2rem;
    border-bottom: 1px solid theme-setting("bg-light");

    &:nth-child(even) {
        background: theme-setting("bg-lighter");
    }

    > p:first-child {
        margin-top: 0;
    }

    // Fix align center issues
    textarea {
        width: 100%;
        max-width: 100%;
    }
}

.test-demo-title {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    color: theme-setting("fb-dark");
}

.test-demo-body {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    &.full {
        position: static !important;
        display: block !important;
        left: 0 !important;
        right: 0 !important;
        transform: none !important;
        text-align: left;
    }

    &.align-center {
        text-align: center !important;
    }

    &.align-left {
        text-align: left !important;
    }
}

.test-note {
    margin: 1.5rem 0;
    color: theme-setting("fg-dark");
    opacity: .5;
    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }
}

//-------------------- Base --------------------//

.test-base-fluid {
    max-width: 800px;
    margin: auto;
}

.test-responsive-table {
    width: 100%;
    border-spacing: .5rem;
    border-collapse: separate;

    td {
        padding: 1rem;
        max-width: 50%;

        &[class*="show-"] {
            background: theme-setting("success-light");
            color: darken(theme-setting("success-dark"), 10%);
        }

        &[class*="hide-"] {
            background: theme-setting("error-light");
            color: darken(theme-setting("error-dark"), 10%);
        }
    }
}

//-------------------- Responsive --------------------//

@include if-small() {
    html {
        font-size: 13px;
    }

    .test-head {
        display: flex;
    }

    .test-head-left {
        margin: 0;
        text-align: left;
    }

    .test-head-center {
    }

    .test-head-logo {
        margin: 0;
    }
}

@include if-medium() {
    html {
        font-size: 14px;
    }

    .test-head-left {
        width: 25%;
    }

    .test-head-center {
        justify-content: center;
    }

    .test-head-right {
        display: flex;
    }

    .test-demo {
        padding: 3rem 4rem 3rem 4rem;
    }
}

//-------------------- RTL --------------------//
