@import "common";

html {
    font: normal 14px/1.5rem "Droid Sans", Verdana, sans-serif;
}

body {
    background: theme-setting("bg-lightest");
    color: theme-setting("fg-dark");
    margin: 0;
    padding: 0 0 200px 0;
}

a {
    text-decoration: none;
    color: theme-setting("primary");

    &:hover {
        color: theme-setting("primary-dark");
    }
}

//-------------------- Header --------------------//

.test-head {
    background: theme-setting("bg-darkest");
    padding: 1rem;
    color: #fff;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.test-head-left {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.test-head-center {
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;

    .button,
    .input {
        border: 0;
    }

    .caret-left {
        margin-right: .5rem;
    }

    .caret-right {
        margin-left: .5rem;
    }
}

.test-head-right {
    display: none;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    position: relative;

    .button {
        margin-left: .5rem;
    }
}

.test-head-logo {
    background: url('http://titon.io/img/logo.png') 50% 0 no-repeat;
    background-size: 184px 80px;
    width: 184px;
    height: 40px;
    position: relative;
    margin: auto;

    span {
        visibility: hidden;
    }

    &::after {
        content: attr(data-version);
        display: inline-block;
        position: absolute;
        left: 105%;
        top: 50%;
        color: theme-setting("primary-light");
        font-size: 1.5rem;
        transform: translateY(-50%);
        white-space: nowrap;
    }
}

.test-head-prev {
    border-radius: 0 !important;
    border-top-left-radius: theme-setting("round-radius") !important;
    border-bottom-left-radius: theme-setting("round-radius") !important;
}

.test-head-next {
    border-radius: 0 !important;
    border-top-right-radius: theme-setting("round-radius") !important;
    border-bottom-right-radius: theme-setting("round-radius") !important;
}

.test-settings {
    color: theme-setting("fg-light");
    background: theme-setting("bg-darker");
    border-bottom-left-radius: theme-setting("round-radius");
    border-bottom-right-radius: theme-setting("round-radius");
    margin-top: 1rem;

    li {
        margin: 1rem;
    }

    input {
        position: relative;
        bottom: -2px;
    }
}

//-------------------- Footer --------------------//

.test-footer {
    padding: 2rem;
    text-align: center;
}

//-------------------- Body --------------------//

.test-demo {
    padding: 2rem;
    border-bottom: 1px solid theme-setting("bg-light");

    &:nth-child(even) {
        background: theme-setting("bg-lighter");
    }

    > p:first-child {
        margin-top: 0;
    }

    // Fix align center issues
    textarea {
        width: 100%;
        max-width: 100%;
    }
}

.test-demo-title {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    color: theme-setting("fb-dark");
}

.test-demo-body {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    &.full {
        position: static !important;
        display: block !important;
        left: 0 !important;
        right: 0 !important;
        transform: none !important;
        text-align: left;
    }

    &.align-center {
        text-align: center !important;
    }

    &.align-left {
        text-align: left !important;
    }
}

//-------------------- UI --------------------//

.test-button {
    border-radius: theme-setting("round-radius");
    background: theme-setting("primary");
    color: #fff;

    &:hover {
        background: theme-setting("primary-dark");
    }

    &.is-active,
    .is-active > & {
        background: theme-setting("primary-light");
    }
}

.test-notice {
    margin: 0;
    text-align: center;
    color: #fff;

    &.is-warning {
        background: theme-setting("warning");
        color: darken(theme-setting("warning-dark"), 20%);
    }

    &.is-success {
        background: theme-setting("success");
    }

    &.is-debug {
        background: theme-setting("debug");
    }

    &.is-error {
        background: theme-setting("error");
    }

    &.is-info {
        background: theme-setting("info");
    }
}

.test-note {
    margin: 1.5rem 0;
    color: theme-setting("fg-dark");
    opacity: .65;
    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }
}

//-------------------- Modules --------------------//

.test-base-fluid {
    max-width: 800px;
    margin: auto;
}

.test-lazy-load-overflow {
    height: 350px;
    overflow: auto;
}

.test-lazy-load-item {
    display: block;
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    margin: 0 auto;

    img {
        width: 150px;
        height: 150px;
    }
}

.test-mask-wrapper {
    > p {
        margin: 0;
    }

    .js-mask {
        margin-top: 1rem;
        border-radius: .5rem;
    }
}

.test-pin-container {
    position: relative;

    .col p:first-child {
        margin-top: 0;
    }
}

.test-stalker {
    max-width: 800px;

    div {
        margin-bottom: 2rem;
    }

    &.is-overflow {
        height: 250px;
        overflow: auto;
        position: relative;
    }
}

.test-stalker-targets {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        flex-grow: 1;
    }

    a {
        display: block;
        border-radius: 0 !important;
        text-align: center;
    }
}

.test-responsive-table {
    width: 100%;
    border-spacing: .5rem;
    border-collapse: separate;

    td {
        padding: 1rem;
        max-width: 50%;
        text-align: center;

        &[class*="show-"] {
            background: theme-setting("success-light");
            color: darken(theme-setting("success-dark"), 10%);
        }

        &[class*="hide-"] {
            background: theme-setting("error-light");
            color: darken(theme-setting("error-dark"), 10%);
        }
    }
}

//-------------------- Responsive --------------------//

@include if-small() {
    html {
        font-size: 13px;
    }

    .test-head {
        display: flex;
    }

    .test-head-left {
        margin: 0;
        text-align: left;
    }

    .test-head-logo {
        margin: 0;
    }
}

@include if-medium() {
    html {
        font-size: 14px;
    }

    .test-head-left {
        width: 25%;
    }

    .test-head-center {
        justify-content: center;
    }

    .test-head-right {
        display: flex;
    }

    .test-demo {
        padding: 3rem 4rem 3rem 4rem;
    }
}

//-------------------- RTL --------------------//
