// Colors based on Flat UI
// http://flatuicolors.com/

$teal-light: #1ABC9C;
$teal-dark: #16A085;
$green-light: #2ECC71;
$green-dark: #27AE60;
$blue-light: #3498DB;
$blue-dark: #2980B9;
$purple-light: #9B59B6;
$purple-dark: #8E44AD;
$black: #000;
$black-light: #34495E;
$black-dark: #2C3E50;
$yellow-light: #F1C40F;
$yellow-dark: #F39C12;
$orange-light: #E67E22;
$orange-dark: #D35400;
$red-light: #E74C3C;
$red-dark: #C0392B;
$white: #fff;
$white-light: #ECF0F1;
$white-dark: #BDC3C7;
$gray-light: #95A5A6;
$gray-dark: #7F8C8D;

//-------------------- Accordion --------------------//

.accordion {
    color: #000;

    li {
        margin-bottom: 1px;
    }
}

.accordion-header {
    background: $blue-dark;
    color: $white-light;

    &:hover,
    .is-active & {
        background: $blue-light;
    }
}

.accordion-section {
    background: $white-light;
}

.accordion-body {
    ul {
        margin-top: 1.25rem;
    }

    ul:first-child, p:first-child {
        margin-top: 0;
    }
}

//-------------------- Blackout --------------------//

.blackout .loader.bar-wave > span {
    background: $teal-light;
}

//-------------------- Breadcrumb --------------------//

.breadcrumb {
    background: $white-light;

    a {
        color: $red-light;

        &:hover { color: $red-dark; }

        .caret { color: $gray-light; }
    }

    li:last-child a {
        color: $gray-light;
    }
}

//-------------------- Button --------------------//

.button {
    background: $gray-dark;
    color: #fff;

    &.is-active,
    .is-active & {
        color: $white;
        background: lighten($gray-dark, 5%);
    }

    &:hover {
        background: $gray-light;
    }

    &.is-info {
        background: $blue-dark;

        &:hover { background: $blue-light; }
    }

    &.is-success {
        background: $green-dark;

        &:hover { background: $green-light; }
    }

    &.is-warning {
        background: $yellow-dark;

        &:hover { background: $yellow-light; }
    }

    &.is-error {
        background: $red-dark;

        &:hover { background: $red-light; }
    }

    &.is-disabled {
        background: $gray-dark;
        opacity: .5;
    }
}

//-------------------- Button Group --------------------//

.button-group {
    > li,
    > .button {
        border-left: 1px solid rgba(0, 0, 0, .2);

        &:first-child { border-left: 0; }
    }
}

//-------------------- Carousel --------------------//

.carousel-next,
.carousel-prev {
    color: #fff;
    opacity: .5;

    &:hover { opacity: 1; }
}

.carousel-next,
.carousel-prev {
    display: block;
    position: absolute;
    padding: .75rem;
    width: auto;
    height: auto;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%); // move up 50% of their height

    &:focus { outline: none; }
}

.carousel-prev { left: 0; }
.carousel-next { right: 0; }

.carousel-tabs {
    position: absolute;
    top: .75rem;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%); // move left 50% of their width
}

//-------------------- Code --------------------//

pre {
    color: black;
}

//-------------------- Drop --------------------//

.drop {
    background: $teal-dark;

    li > a {
        color: $white;
    }

    li > a:hover,
    li.is-active > a {background: $teal-light; }
}

.drop-heading {
    background: $black-dark;
    color: $white-light;
    font-weight: bold;
}

.drop-divider {
    border-top-color: $teal-light;
}

.drop-desc {
    display: block;
}

//-------------------- Flyout --------------------//

.flyout {
    background: $orange-dark;

    li > a {
        color: $white;
    }

    li > a:hover,
    li.is-open > a { background: $orange-light; }
}

.flyout-heading {
    background: $black-dark;
    color: $white-light;
    font-weight: bold;
}

//-------------------- Form --------------------//

.input {
    color: #000;

    &:focus {
        border-color: $blue-dark;
        box-shadow: 0 0 5px $blue-light;
    }
}

.field,
.fields li {
    &:not(.is-disabled) {
        &.is-error {
            .input {
                border-color: $red-dark;

                &:focus { box-shadow: 0 0 5px $red-light; }
            }

            .input-radio,
            .input-checkbox {
                color: $red-light;
            }
        }

        &.is-success {
            .input {
                border-color: $green-dark;

                &:focus { box-shadow: 0 0 5px $green-light; }
            }

            .input-radio,
            .input-checkbox {
                color: $green-light;
            }
        }
    }
}

.field-help {
    color: $white-dark;
}

fieldset {
    border-top-color: $white-dark;
}

//-------------------- Input --------------------//

.select {
    color: #000;
}

.select-options {
    .drop-desc {
        font-size: .8em;
        opacity: .8;
    }

    li.is-disabled {
        background: rgba(0, 0, 0, .1);
    }
}

//-------------------- Input Group --------------------//

.input-addon {
    background: $teal-dark;
    border: 1px solid $teal-dark; // Matches input height
    color: $white-light;
}

//-------------------- Label --------------------//

.label {
    background: $gray-dark;
    color: #fff;

    &.is-info {
        background: $blue-dark;
    }

    &.is-success {
        background: $green-dark;
    }

    &.is-warning {
        background: $yellow-dark;
    }

    &.is-error {
        background: $red-dark;
    }
}

.label--arrow-left::after {
    border-right-color: $gray-dark;
}

.label--arrow-right::after {
    border-left-color: $gray-dark;
}

.label--ribbon-left::after {
    border-right-color: $gray-light;
}

.label--ribbon-right::after {
    border-left-color: $gray-light;
}

//-------------------- Mask --------------------//

.is-maskable { margin-top: 1rem; }

.mask .loader.bar-wave > span {
    background: $purple-light;
}

//-------------------- Matrix --------------------//

.matrix { margin-top: 1rem; }

//-------------------- Modal --------------------//

.modal-outer {
    position: relative;
    background: $blue-light;
    color: #fff;
}

.modal-head,
.modal-foot {
    background: $blue-dark;
}

.modal-body {
    p:first-child { margin-top: 0; }
}

.modal-foot {
    text-align: center;
}

.modal-close {
    background: none;
    border: 0;
    position: absolute;
    top: .75rem;
    right: .75rem;
    opacity: .5;

    &:hover { opacity: 1; }
}

//-------------------- Notice --------------------//

.notice {
    background: $gray-light;

    &.is-info {
        background: $blue-light;
    }

    &.is-success {
        background: $green-light;
    }

    &.is-warning {
        background: $yellow-light;
    }

    &.is-error {
        background: $red-light;
    }
}

//-------------------- Off Canvas --------------------//

.off-canvas {
    background: $purple-dark;
    color: #fff;
    padding: 1rem;
}

.on-canvas {
    .test-demo { text-align: left; }

    p:first-child { margin: 0 0 2rem 0; }
}

//-------------------- Pagination --------------------//

.pagination {
    text-align: center;

    ul { display: inline-block; }
}

.pagination--grouped li {
    border-left: 1px solid rgba(0, 0, 0, .2);

    &:first-child { border-left: 0; }
}

//-------------------- Pin --------------------//

.pin {
    background: $red-light;
    padding: 1rem;
    color: #fff;
}

//-------------------- Popover --------------------//

.popover {
    background: $purple-light;
    color: #fff;

    &.center-left .popover-arrow {
        border-left-color: $purple-light;
    }

    &.center-right .popover-arrow {
        border-right-color: $purple-light;
    }

    &.top-center .popover-arrow {
        border-top-color: $purple-light;
    }

    &.bottom-center .popover-arrow {
        border-bottom-color: $purple-light;
    }
}

.popover-head {
    padding: .5rem;
    background: $purple-dark;
    font-weight: bold;
}

.popover-body {
    padding: .5rem;
}

//-------------------- Progress --------------------//

.progress {
    background: $white-dark;
    color: #fff;
}

.progress-bar {
    background: $gray-light;

    &.is-info {
        background: $blue-light;
    }

    &.is-success {
        background: $green-light;
    }

    &.is-warning {
        background: $yellow-light;
    }

    &.is-error {
        background: $red-light;
    }
}

//-------------------- Responsive --------------------//

.responsive-table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;

    td {
        padding: 5px;
        background: $gray-light;
        color: #fff;

        &[class*="show-"] {
            background: $green-light;
        }

        &[class*="hide-"] {
            background: $red-light;
        }
    }
}

//-------------------- Showcase --------------------//

.showcase-next,
.showcase-prev,
.showcase-close {
    color: #fff;
    opacity: .5;

    &:hover { opacity: 1; }
}

.showcase-next,
.showcase-prev {
    display: block;
    position: absolute;
    z-index: 5;
    top: 50%;
    background: #fff;
    padding: 0;
    border: 0;
    transform: translateY(-50%); // move up 50% of their height
    &:focus { outline: none; }
}

.showcase-prev { left: .75rem; }
.showcase-next { right: .75rem; }

.showcase-tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem;
    text-align: center;
}

.showcase-caption {
    color: #fff;
}

.showcase-inner {
    background: $white-dark;
    padding: 5px;
}

//-------------------- Step --------------------//

.steps ol {
    background: $yellow-dark;
    color: #000;

    .step,
    .step::after {
        background: $yellow-dark;
    }

    .step::after {
        border-right: 1px solid $yellow-light;
        border-bottom: 1px solid $yellow-light;
    }

    a.step {
        color: #000;

        &:hover,
        &:hover::after { background: lighten($yellow-light, 20%); }
    }

    li.is-complete {
        .step,
        .step::after {
            background: $yellow-light;
        }

        .step::after {
            border-right-color: $yellow-dark;
            border-bottom-color: $yellow-dark;
        }
    }
}

//-------------------- Switch --------------------//

.switch {
    input:checked + .switch-bar {
        background: $red-light;
        border-color: $red-light;
    }
}

.switch-bar {
    background: $red-dark;
    border: 2px solid $red-dark;
}

.switch-toggle {
    background: $white-light;
}

//-------------------- Table --------------------//

.table {
    color: #000;

    &.is-sortable thead th > a {
        background: $orange-dark;
        color: #fff;

        &:hover { background: $orange-light; }
    }

    &:first-child { margin-top: 0; }
}

//-------------------- Toast --------------------//

.toast {
    background: $purple-light;
    color: #fff;
    padding: .5rem;

    a { color: $yellow-light; }
}

//-------------------- Tooltip --------------------//

.tooltip {
    background: $green-light;
    color: #fff;
    padding: 0;

    &.center-left .tooltip-arrow {
        border-left-color: $green-light;
    }

    &.center-right .tooltip-arrow {
        border-right-color: $green-light;
    }

    &.top-center .tooltip-arrow {
        border-top-color: $green-light;
    }

    &.bottom-center .tooltip-arrow {
        border-bottom-color: $green-light;
    }
}

.tooltip-head {
    padding: .5rem;
    background: $green-dark;
    font-weight: bold;
}

.tooltip-body {
    padding: .5rem;
}

//-------------------- Type Ahead --------------------//

.type-ahead {
    background: $red-dark;

    li > a {
        color: $white;
    }

    li > a:hover,
    li.is-active > a { background: $red-light; }
}

.type-ahead-heading {
    background: $black-dark;
    color: $white-light;
    font-weight: bold;
}

.type-ahead-highlight {
    background: $yellow-light;
}

.type-ahead-shadow {
    width: 172px;
    margin: 0 auto;
    text-align: left;
}